@model LocalMarketplace.Models.DTOs.ProductRequest
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj ofertę</h2>
<hr />
<h4>Wypełnij pola by dodać nową ofertę</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkLength" class="control-label"></label>
                <input asp-for="WorkLength" class="form-control" />
                <span asp-validation-for="WorkLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkType" class="control-label"></label>
                <input asp-for="WorkType" class="form-control" />
                <span asp-validation-for="WorkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj ogłoszenie" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy swoich ogłoszeń</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}