@model LocalMarketplace.Models.DatabaseModels.Product
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń ogłosznie</h2>
<hr />
<h4>Czy na pewno chcesz usunąc tą ofertę?</h4>

<div>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Usuń" class="btn btn-default" /> <br />
    <a asp-action="Index">Wróć do listy swoich ogłoszeń</a>
</form>
</div>