@model IEnumerable<LocalMarketplace.Models.DTOs.ProductResponse>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Display("Tytuł")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.Display("Opis")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>