@model IEnumerable<LocalMarketplace.Models.DTOs.ProductResponse>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Display("Thumbnail")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img height="auto" width="50px" src="@item.Pictures[0].Url" alt="Thumbnail image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        }
    </tbody>
</table>